---
- name: Install rsyslog
  ansible.builtin.apt:
    name: rsyslog
    state: present
  become: true

- name: Configure rsyslog for forwarding
  ansible.builtin.template:
    src: forward.conf.j2
    dest: /etc/rsyslog.d/99-forward-to-alloy.conf
    mode: "0644"
  become: true
  notify: Restart rsyslog

- name: Ensure rsyslog is enabled and started
  ansible.builtin.service:
    name: rsyslog
    enabled: true
    state: started
  become: true
